@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'new_font';
  src: url('./fonts/new_font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'new_font'
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }